<div class="container">
        <div class="col-md-12">
            <h3 class="md-3 text-center"><a routerLink="/dadosabertos">Dados Abertos</a> - Informações de Combustível</h3>
            <table class="table bordered striped centered highlight responsive-table">
                <thead>
                    <tr>
                        <th colspan="2"><h4>Detalhes</h4></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="col">Id</th>
                        <td>{{ data.id }}</td>
                    </tr>
                    <tr>
                        <th scope="col">Região</th>
                        <td>{{ data.regiao }}</td>
                    </tr>
                    <tr>
                        <th scope="col">Estado</th>
                        <td>{{ data.estado }}</td>
                    </tr>
                    <tr>
                        <th scope="col">Município</th>
                        <td>{{ data.municipio }}</td>
                    </tr>
                    <tr>
                        <th scope="col">Distribuidor</th>
                        <td>{{ data.revenda }}</td>
                    </tr>
                    <tr>
                        <th scope="col">CNPJ</th>
                        <td>{{ data.cnpj }}</td>
                    </tr>
                    <tr>
                        <th scope="col">Produto</th>
                        <td>{{ data.produto }}</td>
                    </tr>
                    <tr>
                        <th scope="col">Data da Coleta</th>
                        <td>{{ data.coleta | date : "dd/MM/y"}}</td>
                    </tr>
                    <tr>
                        <th scope="col">Valor de Compra</th>
                        <td>{{ data.compra }}</td>
                    </tr>
                    <tr>
                        <th scope="col">Valor de Venda</th>
                        <td>{{ data.venda }}</td>
                    </tr>
                    
                    <tr>
                        <th scope="col">Unidade de Medida</th>
                        <td>{{ data.medida }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="form-group col-md-12">
                <button class="btn btn-warning btn-sm" routerLink="/editar-info/{{data.id}}">Editar</button>
                <button class="btn btn-danger btn-sm" (click)="deleteData(data.id)">Deletar</button>
            </div>
        </div>
    </div>
    