<div class="container">
        <div class="col-md-12" >
            <h3 class="md-3 text-center"><a routerLink="/dadosabertos">Dados Abertos</a> -  Alterar Informações</h3>
            <form #dataForm="ngForm">
                <div [hidden]="regiao.valid || regiao.pristine" class="alert alert-danger">
                    Preencher campo Região!
                </div>
                <div [hidden]="estado.valid || estado.pristine" class="alert alert-danger">
                    Selecionar Estado!
                </div>
                <div [hidden]="municipio.valid || municipio.pristine" class="alert alert-danger">
                    Preencher campo Município!
                </div>
                <div [hidden]="revenda.valid || revenda.pristine" class="alert alert-danger">
                    Preencher campo Distribuidora!
                </div>
                <div [hidden]="cnpj.valid || cnpj.pristine" class="alert alert-danger">
                    Preencher campo CNPJ apenas com números!
                </div>
                <div [hidden]="produto.valid || produto.pristine" class="alert alert-danger">
                    Selecionar Produto!
                </div>
                <div [hidden]="coleta.valid || coleta.pristine" class="alert alert-danger">
                    Preencher Data da Coleta!
                </div>
                <div [hidden]="venda.valid || venda.pristine" class="alert alert-danger">
                    Preencher Valor de Venda, digitar apenas NÚMEROS!
                </div>
                <div [hidden]="compra.valid || compra.pristine" class="alert alert-danger">
                    Preencher Valor de Compra, digitar apenas NÚMEROS!
                </div>
                <div [hidden]="bandeira.valid || bandeira.pristine" class="alert alert-danger">
                    Preencher campo Bandeira!
                </div>

                <div class="form-group col-md-12">
                    <label for="regiao">Região:</label>
                    <input id="regiao" type="text" [(ngModel)]="fuelData.regiao" name="regiao"
                        class="form-control" placeholder="Região" required #regiao="ngModel">
                </div>          
                <div class="form-group col-md-12">
                    <label for="estado">Estado:</label>
                    <select id="estado" name="estado" [(ngModel)]="fuelData.estado" class="form-control" pattern="[A-Za-z]{2}" 
                        maxlength="2" required #estado="ngModel">
                        <option *ngFor="let estado of ufs" [value]="estado">{{ estado }}</option>
                    </select>
                </div>
                <div class="form-group col-md-12">
                    <label for="municipio">Município:</label>
                    <input id="municipio" type="text" [(ngModel)]="fuelData.municipio" name="municipio"
                        class="form-control" placeholder="Município" required #municipio="ngModel">
                </div>
                <div class="form-group col-md-12">
                    <label for="revenda">Distribuidora:</label>
                    <input id="revenda" type="text" [(ngModel)]="fuelData.revenda" name="revenda"
                        class="form-control" placeholder="Distribuidora" required #revenda="ngModel">
                </div>
                <div class="form-group col-md-12">
                    <label for="cnpj">CNPJ:</label>
                    <input id="cnpj" type="text" [(ngModel)]="fuelData.cnpj" name="cnpj" pattern="\d{2}\.\d{3}\.\d{3}/\d{4}-\d{2}"
                        OnKeyPress="formatar('99.999.999/9999-99', this)" maxlength="18"
                        class="form-control" placeholder="CNPJ" required #cnpj="ngModel">
                </div>
                <div class="form-group col-md-12">
                    <label for="produto">Produto:</label>
                    <select id="produto" name="produto" [(ngModel)]="fuelData.produto" class="form-control" 
                        required #produto="ngModel">
                        <option *ngFor="let produto of produtos" [value]="produto">{{ produto }}</option>
                    </select>
                </div>
                <div class="form-group col-md-12">
                    <label for="coleta">Data da Coleta:</label>
                    <input id="coleta" type="text" [(ngModel)]="fuelData.coleta" name="coleta" pattern="\d{2}\/\d{2}\/\d{4}"
                        OnKeyPress="formatar('99/99/9999', this)" maxlength="10"
                        class="form-control" placeholder="31/12/2019" required #coleta="ngModel">
                        <!-- [bsConfig]="datePickerConfig" bsDatepicker -->
                </div>
                <div class="form-group col-md-12">
                    <label for="venda">Valor de Venda (R$):</label>
                    <input id="venda" type="text" [(ngModel)]="fuelData.venda" name="venda" pattern="\d{1}\.\d+"
                        OnKeyPress="formatar('9.999', this)" maxlength="5"
                        class="form-control" placeholder="Valor de Venda Ex.: 4.593" required #venda="ngModel">
                </div>
                <div class="form-group col-md-12">
                    <label for="compra">Valor de Compra (R$):</label>
                    <input id="compra" type="text" [(ngModel)]="fuelData.compra" name="compra" pattern="\d{1}\.\d+"
                        OnKeyPress="formatar('9.999', this)" maxlength="5"
                        class="form-control" placeholder="Valor de Compra Ex.: 4.593" required #compra="ngModel">
                </div>
                <div class="form-group col-md-12">
                    <label for="bandeira">Bandeira:</label>
                    <input id="bandeira" type="text" [(ngModel)]="fuelData.bandeira" name="bandeira"
                        class="form-control" placeholder="Bandeira" required #bandeira="ngModel">
                </div>
                <div class="form-group col-md-5">
                   <button class="btn btn-success btn-lg btns" (click)="updateFuelData()" [disabled]="!dataForm.form.valid">Salvar</button>
                </div>
                <div class="form-group col-md-5 text-center btns">
                    <button class="btn btn-warning btn-lg" routerLink="/dadosabertos" >Cancelar</button>
                </div>
            </form>
        </div>
    </div>