<div class="container">
    <div class="col-md-12" >
        <h3 class="md-3 text-center">Adicionar Usuário</h3>
        <form #userForm="ngForm">
            <div *ngIf="userName.invalid && (userName.dirty || userName.touched)" class="alert alert-danger">
                <div *ngIf="userName.errors.required">
                    Preencher campo Nome do Usuário!
                </div>
                <div *ngIf="userName.errors.minlength">
                    O Nome do Usuário deve ter no mínimo 3 caracteres.
                </div>
            </div><div *ngIf="password.invalid && (userName.dirty || password.touched)" class="alert alert-danger">
                <div *ngIf="password.errors.required">
                    Preencher campo Senha!
                </div>
                <div *ngIf="password.errors.minlength">
                    Sua senha deve ter no mínimo 8 caracteres.
                </div>
            </div>          
            <div class="form-group col-md-12">
                <label for="userName">Usuário:</label>
                <input id="userName" type="text" [(ngModel)]="user.nome" name="userName"
                    class="form-control" placeholder="Usuário" required minlength="3" #userName="ngModel">
            </div>
            <div class="form-group col-md-12">
                <label for="password">Senha:</label>
                <input id="password" type="password" [(ngModel)]="user.senha" name="password"
                    class="form-control" placeholder="Senha" required minlength="8" #password="ngModel">
            </div>    
            <div class="form-group col-md-12">
               <button class="btn btn-success btn-lg" (click)="addUser()" [disabled]="!userForm.form.valid">Adicionar</button>
            </div>
        </form>
    </div>
</div>