<div class="container">
        <!-- main app container -->
    <h3 class="mb-3 text-center"><a routerLink="/dadosabertos">Dados Abertos</a> - Valor Médio de Compra e Venda por Município</h3>

    <div class="col-md-12 no-data text-center" *ngIf="fuels?.length == 0">
        <p>Ainda não existe Informação Cadastrada.</p>
        <div>
            <button class="btn btn-primary" routerLink="/novas-info">Adicionar Nova</button>
        </div>
    </div>
    <div *ngIf="fuels?.length !== 0">
        <div class="col-md-12" >
            <table class="table bordered striped centered highlight responsive-table">
                <thead>
                    <tr>
                        <th><button class="btn btn-primary" routerLink="/novas-info">Adicionar Nova</button></th>
                    </tr>
                    <tr>
                        <th>
                            <input id="regiao" type="text" [(ngModel)]="fuelData.regiao" name="regiao" class="form-control col-md-2" placeholder="Filtrar por Região">
                            <button class="btn btn-success btn-sm col-md-6" routerLink="/regiao/{{fuelData.regiao}}">Search</button>
                        </th>
                        <th >
                            <input id="municipio" type="text" [(ngModel)]="fuelData.municipio" name="municipio" class="form-control col-md-2" placeholder="Média de preço por Municipio">
                            <button class="btn btn-success btn-sm col-md-6" (click)="searchData()">Search</button>
                            R$ {{ fuelDataResult[0] | number : "0.00"}}
                        </th>
                        <th>
                            <button class="btn btn-success btn-sm col-md-12" routerLink="/pordistribuidora">Agrupar por Distribuidora</button>
                        </th>
                        <th>
                            <button class="btn btn-success btn-sm col-md-12" routerLink="/datacoleta">Agrupar por Data da Coleta</button>
                        </th>
                        <th>
                            <button class="btn btn-success btn-sm col-md-12" routerLink="/media-municipio">Valor médio por Municípios</button>
                        </th>
                        <th>
                            <button class="btn btn-success btn-sm col-md-12" routerLink="/media-bandeira">Valor médio por Bandeira</button>
                        </th>
                    </tr>
                    <tr>
                        <th scope="col" colspan="2">Município</th>
                        <th scope="col" colspan="2">Valor de Compra</th>
                        <th scope="col" colspan="2">Valor de Venda</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let fuel of pageOfItems">
                        <td colspan="2">{{ fuel[2] }}</td>
                        <td colspan="2">R$ {{ fuel[0] | number : "0.00"}}</td>
                        <td colspan="2">R$ {{ fuel[1] | number : "0.00"}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="card-footer pb-0 pt-3 col-md-12 text-center">
                <jw-pagination [items]="fuels" (changePage)="onChangePage($event)"></jw-pagination>
            </div>
        </div>
    </div>
</div>