<div class="container">
            <!-- main app container -->
        <h3 class="mb-3 text-center"><a routerLink="/dadosabertos">Dados Abertos</a> - Informações de Combustível</h3>

        <div class="col-md-12 text-center">
            <div class="col-md-12">
                <div>
                    <div *ngIf="error">
                        {{ error.message }}
                    </div>
                    <div *ngIf="uploadResponse.status === 'error'">
                        {{ uploadResponse.message }}
                    </div>
                    <div *ngIf="uploadResponse.status === 'progress'">
                        <div role="progressbar" [style.width.%]="uploadResponse.message" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                        {{uploadResponse.message}}%
                        </div>
                    </div>
                </div>    
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="form-group col-md-12 fileup">
                        <input type="file" name="avatar" (change)="onFileChange($event)" required>
                    </div>
                    <div class="form-group col-md-12">
                        <button class="btn btn-primary" type="submit">Upload CSV</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-md-12 no-data text-center" *ngIf="fuels?.length == 0">
            <p>Ainda não existe Informação Cadastrada.</p>
            <div>
                <button class="btn btn-primary" routerLink="/novas-info">Adicionar Nova</button>
            </div>
        </div>
        <div *ngIf="fuels?.length !== 0">
            <div class="col-md-12">
                <table class="table bordered striped centered highlight responsive-table">
                    <thead>
                        <tr>
                            <th><button class="btn btn-primary" routerLink="/novas-info">Adicionar Nova</button></th>
                        </tr>
                        <tr>
                            <th colspan="2">
                                <input id="regiao" type="text" [(ngModel)]="fuelData.regiao" name="regiao" class="form-control col-md-2" placeholder="Filtrar por Região">
                                <button class="btn btn-success btn-sm text-center col-md-6" routerLink="/regiao/{{fuelData.regiao}}">Search</button>
                            </th>
                            <th colspan="2">
                                <input id="municipio" type="text" [(ngModel)]="fuelData.municipio" name="municipio" class="form-control col-md-2" placeholder="Média de preço por Municipio">
                                <button class="btn btn-success btn-sm text-center col-md-6" (click)="searchData()">Search</button>
                                R$ {{ fuelDataResult[0] | number : "0.00"}}
                            </th>
                            <th colspan="2">
                                <button class="btn btn-success btn-sm col-md-12" routerLink="/pordistribuidora">Agrupar por Distribuidora</button>
                            </th>
                            <th>
                                <button class="btn btn-success btn-sm col-md-12" routerLink="/datacoleta">Agrupar por Data da Coleta</button>
                            </th>
                            <th>
                                <button class="btn btn-success btn-sm col-md-12" routerLink="/media-municipio">Valor médio por Municípios</button>
                            </th>
                            <th>
                                <button class="btn btn-success btn-sm col-md-12" routerLink="/media-bandeira">Valor médio por Bandeira</button>
                            </th>
                        </tr>
                        <tr>
                            <th scope="col">Região</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Municipio</th>
                            <th scope="col">Distribuidora</th>
                            <th scope="col">Produto</th>
                            <th scope="col">Data da Coleta</th>
                            <th scope="col">Valor de Venda</th>
                            <th scope="col">Bandeira</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let fuel of pageOfItems">
                            <td>{{fuel.regiao}}</td>
                            <td>{{fuel.estado}}</td>
                            <td>{{fuel.municipio}}</td>
                            <td>{{fuel.revenda}}</td>
                            <td>{{fuel.produto}}</td>
                            <td>{{fuel.coleta | date : "dd/MM/y"}}</td>
                            <td>{{fuel.venda}}</td>
                            <td>{{fuel.bandeira}}</td>
                            <td class="last">
                                <button class="btn btn-info btn-sm" routerLink="/dadosabertos/{{fuel.id}}">Detalhes</button>
                                <button class="btn btn-warning btn-sm" routerLink="/editar-info/{{fuel.id}}">Editar</button>
                                <button class="btn btn-danger btn-sm" (click)="deleteData(fuel.id)">Deletar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="card-footer pb-0 pt-3 col-md-12 text-center">
                    <jw-pagination [items]="fuels" (changePage)="onChangePage($event)"></jw-pagination>
                </div>
            </div>
        </div>
    </div>