.container{
    width: 100%
}
th, td{
    text-align: center;
}
.last{
    width: 20%;
    text-align: right;
}
.last button{
    margin:5px
}
.fileup{
    text-align: center;
}
.fileup input{
    margin: 0 auto;
    width: 40%;
}
