<div class="container">
    <h3 class="mb-3 text-center">Lista de Usuários</h3>
    <button class="btn btn-primary" routerLink="/dadosabertos">Dados Abertos</button>
    <div class="no-data text-center" *ngIf="users.length == 0">
        <p>Ainda não existe Usuário Cadastrado.</p>
        <button class="btn btn-outline-primary" routerLink="/novo-usuario">Adicionar Usuário</button>
    </div>
    <div *ngIf="users.length !== 0">
        
        <div class="col-md-12">
            <button class="btn btn-primary" routerLink="/novo-usuario">Adicionar Usuário</button>
            <table class="table bordered striped centered highlight responsive-table">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Nome</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users">
                        <td>{{user.id}}</td>
                        <td>{{user.nome}}</td>
                        <td class="last">
                            <button class="btn btn-info btn-sm" routerLink="/usuario/{{user.id}}">Editar</button>
                            <button class="btn btn-danger btn-sm" (click)="deleteUser(user.id)">Deletar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>